body{
    margin: 50px 50px 0px 50px ;
    display: flex;
    flex-direction: column;
    min-width: 90vh;
}
.main{
    flex: 1;
}
footer{
    text-align: right;
    color: red;
}
.tile-image{
    float: left;
    margin: 20px;
    height: 100px;
    width: 100px;
}
.card{
    width:45%;
}
.left{
    float: left;
}
.right {
    float: right;
  }
  @media (max-width:680px) {
    body{
        width:600px
    }
  .card{
    display: block;
    margin-bottom: 30px;
    width: 100%;
  }
  .card image{
    display: inline;
    object-fit: cover;
  }
  @media (max-width:680px){
    body{
        width:600px
    }
  }